<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <title>Training Scheduler</title> -->
    <!-- <link h1ref="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"> -->

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">

    {% block head %}{% endblock %}

    
  </head>
<style>
  footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    color: black;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
  }

</style>
  <body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary no-print " style="  width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;">
      <div class="container-fluid">
<a class="navbar-brand" href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='logo.png') }}" class="no-print" alt="" srcset="" style="width: 100%; height: 40px;"></a>
     

<div>
          <a class="btn btn-outline-light btn-sm" href="{{ url_for('new_period') }}">Create Period</a>
          <!-- Export JSON -->

<!-- Import JSON -->
<a href="{{ url_for('import_json') }}" class="btn btn-success btn-sm no-print">Import JSON</a>

        </div>
      </div>
    </nav>

    <div class="container my-4">
      {% block content %}{% endblock %}
    </div>

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script> -->
     <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>

    {% block scripts %}{% endblock %}


    <footer class="no-print"><center>Devolopment by <a href="https://imeshsan2008.github.io" target="_blank">Dark Venom</a></center></footer>
    
  </body>
</html>
