{% extends "base.html" %}
{% block content %}
<br><br>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Import Training Period</h2>

                    <h5 class="mb-3">Import Training Period from JSON</h5>

                    <form method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <input class="form-control" type="file" name="json_file" accept=".json" required>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary" type="submit">Upload</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
